:root{
    --primary : #B084cc;
    --secondary: #acfcd9;
    --tertiary: #5dd9c1;
    --dark:#190933;
    --contr:#665687;
    --victory : #2c7bb6;
}
*{
    margin:0;
    padding: 0;
    text-align: center;
}
body{
    background-color: var(--primary);
}
h1{
    background-color: var(--dark);
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice{
    height: 200px;  
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice :hover{
    cursor: pointer;
    border: var(--dark) solid 0.4rem;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;    
    margin-top: 3rem;
    gap: 5rem;
}
#user-score , #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    display: inline;
    background-color: var(--secondary);
    color: var(--contr);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}