.container{
    display: grid;
    grid-template-columns: repeat(7,
    1fr);
}
.div{
    border: 1px solid black;
    text-align: center;
}
.container div:nth-child(7){
    background-color: orange;
    grid-column: 4/ span 7;
    grid-row: 2;
}