h1{
    background-color: red; border-style: solid;border-color:white;
}
body{
    background-color: aqua;
}
form{
    background-color: pink;
}
ul{
    font-style:italic; font-weight: bold; color:crimson;
}